@model authb2cweb.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendees)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Attendees.FirstOrDefault().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Attendees.FirstOrDefault().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Attendees.FirstOrDefault().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Attendees.FirstOrDefault().Phone)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attendees)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                <a asp-controller="Attendees" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-controller="Attendees" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-controller="Attendees" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a asp-controller="Attendees" asp-action="Create" asp-route-eventId="@Model.Id">Create New</a>
            </p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
